<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>Adresa</title>
</head>
<body>
<h1>Magazinul se gaseste la adresele:</h1>
<p><%= continut %></p>
<br>
<p>Splaiul Unirii, nr. 12, București</p>
<br>
<p>Bulevardul Nicolae Bălcescu, nr. 26, București</p>
</body>
</html>
